<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>
<header>
    <div class="imageP">
        <img src="../static/images/MSF.jpg" alt="logo">
    </div>
    <div>
        <ul class="list">
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('About')}}">About</a></li>
            <li><a href="{{ url_for('Signin')}}">Signin</a></li>
        </ul>
    </div>
       
</header>


</body>
</html>