<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
    <div class="image">
        <img src="../static/images/MSF.jpg" alt="logo">
    </div>
    
    <li>
        <a href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('About')}}">About</a>
        <a href="{{ url_for('Signin')}}">Signin</a>

    </li>
</body>
</html>