{% extends "base.html"%}

{% block title%}
  Place Order
{%endblock%}

{% block content%}
<div class="items">
  <a href="http://google.com" >
    <div class="kota">
      <img src="/static/images/kota.png" alt="logo">
      <h1>kota</h1>
    </div>
  </a>
  ,<a href="http://"></a>
  <div class="chips">
    <img src="/static/images/chips.jpg" alt="">
    <h1>Chips</h1>
  </div>
  <div class="archaar">
    <img src="/static/images/archaar.png" alt="">
    <h1>Archaar</h1>
  </div>
  <div class="plate">
    <h1>Plate</h1>
  </div>
</div>

{% endblock%}